<% if @recipe.errors.any? %>
  <% @recipe.errors.full_messages.each do |message| %>
    <div class="alert-danger"><%= message %></div>
  <% end %>
<% end %>

<%= form_with(model: @recipe) do |form| %>
  <div class= "row g-3">
    <div class="col-md-6">
      <%= form.label :title, class: "col-form-label" %>
      <%= form.text_field :title, class: "form-control"%>
    </div>
    <div>
      <%= form.label :description, class: "col-form-label"  %>
      <%= form.text_field :description, class: "form-control" %>
    </div>
    <div>
      <%= form.label :ingredients, class: "col-form-label"  %>
      <%= form.text_area :ingredients, class: "form-control" %>
    </div>
    <div>
      <%= form.label :prep_time, class: "col-form-label"  %>
      <%= form.select :prep_time, [[1, 1], [2, 2], [3, 3], [4, 4], [5,5], [6,6]] %> hours <%= form.select :prep_time_minutes, [[1, 1], [2, 2], [3, 3], [4, 4], [5,5], [6,6]] %> minutes
    </div>
    <div>
      <%= form.label :cook_time, class: "col-form-label"  %>
      <%= form.select :cook_time, [[1, 1], [2, 2], [3, 3], [4, 4], [5,5], [6,6]] %> hours <%= form.select :cook_time_minutes, [[1, 1], [2, 2], [3, 3], [4, 4], [5,5], [6,6]] %> minutes
    </div>
    <div>
      <%= form.label :thaw_time, class: "col-form-label"  %>
      <%= form.select :thaw_time, [[1, 1], [2, 2], [3, 3], [4, 4]] %> days 
    </div>
    <div>
      <%= form.label :recipe_photo_path, class: "col-form-label"  %>
      <%= form.text_area :recipe_photo_path, class: "form-control" %>
    </div>
    <div>
      <%= form.label :category_ids, class: "col-form-label"  %>
      <%= form.collection_select(:category_ids, Category.all, :id, :name, {}, {multiple: true})%>
    </div>
    <div>
      <%= form.submit  %>   
    </div>
  </div>
<% end %>
