<h1><%= @recipe.title %></h1>
  <% if @recipe.user %>
    <div><%= link_to "Recipe By: #{@recipe.user.username}", @recipe.user %></div>
  <% end %>
  <p><b>Description:</b> <%= @recipe.description %></p>
  <p><b>Ingredients:</b> <%= @recipe.ingredients %></p>
  <p><b>Prep Time:</b> <%= pluralize(@recipe.prep_time, "hour") %> <%= pluralize(@recipe.prep_time_minutes, "minute") %></p>
  <p><b>Cook Time:</b> <%= pluralize(@recipe.cook_time, "hour") %> <%= pluralize(@recipe.cook_time_minutes, "minute") %></p>
  <p><b>Thaw Time:</b> <%= pluralize(@recipe.thaw_time, "day") %></p>


  <div>
    <%= image_tag @recipe.recipe_photo_path, height:200, style: "border: 1px solid black"%> 
  </div>


<div>
  <% @recipe.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</div>

  <%= link_to "Edit", edit_recipe_path(@recipe) %>



  <% if current_user == @recipe.user %>
    <%= button_to "Destroy", @recipe, method: :delete %>
  <% end %>